// Theme
$primary-color: #F02E88;
$secondary-color: #190C37;
$sub-primary-color: #6B0062;
$sub-secondary-color: #F8F3EC;
$hover-color: #9F1253;;
$title-color: #ffffff;
$sub-title-color:#F02E88;
$nav-color : #ffffff;
$inner-text-color: #f8f8f8;
$text-color: #A6A6A6;
$light-color: #ffffff;
$dark-color: #111111;
$divider-title-color: #a7a7a7;
$gray-color:#f8f8f8;
$light-white-color: #E9E9FF;
$anchor-color: #a7a7a7;
$box-color:#140a2c;

// Default
$danger-color: #D9534F;
$info-color: #5BC0DE;
$success-color: #5CB85C;
$warning-color: #F0AD4E;
$disable-color: #CCC;


// Font Family
$primary-font: "Mulish", sans-serif;
$title-font:   "Montserrat", sans-serif;
$text-shadow-font: "Poppins", sans-serif;

// Line Hight
$body-line-height: 1.4;
$title-line-height: 1;

// border-radius
$border-radius-degree: 30px