@use "../assists" as *;

.feature-detail-section {
    margin: 150px 0;

    @include bp(mdx) {
        margin: 100px 0;
    }

    .feature-detail-inner-detail {
        .right-sidebar {
            h4 {
                margin-bottom: 50px;
            }

            .feature-detail-img {
                margin-bottom: 40px;
            }

            .key-point-list {
                margin: 30px 0;

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style-type: none;
                        margin-bottom: 5px;

                        i {
                            font-size: 14px;
                            color: $primary-color;
                            margin-right: 4px;
                        }

                        span {
                            font-size: 14px;
                        }
                    }
                }
            }

            .gallery-slider .gallery-img {
                margin: 0 10px;
            }
        }

        .sidebar {
            .icon-list-content {
                li {
                    display: flex;
                    align-items: center;

                    a {
                        font-size: 14px;

                        i {
                            font-size: 15px;
                        }
                    }
                }
            }

            @include bp(mdx) {
                .accordion-content .card .card-header a {
                    font-size: 13px;
                }
            }
        }
    }
}