@use "../assists" as *;

.our-speaker-section {
    padding-top: 150px;

    @include bp(mdx) {
        padding-top: 100px;
    }

    .our-team-wrapper {
        @include grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: start;
        gap: 30px;

        @include bp(lgx) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include bp(mdx) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include bp(xsx) {
            grid-template-columns: repeat(1, 1fr);
        }

        .team-figure {
            border-radius: $border-radius-degree;
            overflow: clip;
            border: 3px solid;
            border-color: rgba($primary-color, 0.52);
            position: relative;

            &:nth-child(even) {
                margin-top: 40px;

                @include bp(xsx) {
                    margin-top: 0;
                }
            }

            &:hover {
                .team-detail {
                    height: 100%;
                    opacity: 1;
                }
            }

            .team-detail {
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 0%;
                opacity: 0;
                bottom: 0;
                left: 0;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                background-image: linear-gradient(180deg, #190C37BD 0%, #F2295B8F 100%);
                @include transition(all 0.4s ease-out);

                .team-name {
                    margin-bottom: 4px;
                    display: inline-block;
                }

                .job-title {
                    display: inline-block;
                    margin-bottom: 25px;
                    font-size: 13px;
                    font-weight: 400;
                    color: $light-color;
                }

                .social-group {
                    >ul {
                        padding: 0;
                        margin: 0;
                        list-style-type: none;

                        >li {
                            display: inline-block;
                            margin: 0 1px;

                            a {
                                display: inline-block;
                                height: 30px;
                                width: 30px;
                                line-height: 29px;
                                background-color: $primary-color;
                                color: $light-color;
                                font-size: 12px;
                                border-radius: 50%;
                                text-align: center;
                                @include transition(all 0.4s ease-out);
                            }

                            &:hover {
                                a {
                                    background-color: $hover-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.speaker-sponser-section {
    background-image: none;
}