@use "../assists/" as *;
/* Slicknav - a Mobile Menu */
.mobile-menu-container {
    .slicknav_nav {
        height: calc(100vh - 99px);
        overflow-y: auto;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 999;
        @include bp (mdx) {
            height: calc(100vh - 89px);
        }
        @include bp (smx) {
            height: calc(100vh - 99px);
        }
        @include bp (xsx) {
            height: calc(100vh - 116px);
        }
    }
    .slicknav_menu {
        background-color: transparent;
        padding: 0;
        @include bp(md) {
            display: none;
        }
        .slicknav_btn {
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            @include flex-direction(row-reverse);
            float: none;
        }
        .slicknav_icon {
            margin-left: 0;
            margin-right: 10px;
        }
        .slicknav_menutxt {
            color: #FFF;
            text-shadow: none;
            font-weight: normal;
            font-size: 16px;
            font-weight: 700;
        }
        .slicknav_nav {
            li {
                border-top: 1px solid rgba($light-color, 10%);
                .slicknav_arrow {
                    color: #7a7a7a;
                    font-size: 13px;
                }
            }
        }
        .slicknav_row {
            @include flexbox;
            @include flex-wrap(wrap);
            padding: 0;
            margin: 0;
            >a {
                @include calc(width, '100% - 45px');
            }
            .slicknav_item {
                border-left: 1px solid rgba($light-color, 10%);
                width: 45px;
                padding: 0;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                .slicknav_arrow {
                    position: static;
                    padding: 0;
                    margin: 0;
                }
            }
            &:hover,
            &:focus,
            &:active {
                background-color: transparent;
                @include border-radius(0px);
            }
        }
    }
    @include bp(lgx) {
        .slicknav_menu {
            .slicknav_btn {
                padding: 15px 0;
                .slicknav_menutxt {
                    color: $primary-color;
                }
                .slicknav_icon {
                    .slicknav_icon-bar {
                        background-color: $primary-color;
                        &:before,
                        &:after {
                            background-color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    @include bp(mdx) {
        .slicknav_menu {
            .slicknav_btn {
                padding: 10px 0;
            }
        }
    }
    @include bp(xsx) {
        .slicknav_menu {
            .slicknav_btn {
                .slicknav_menutxt {
                    font-size: 14px;
                }
                .slicknav_icon  {
                    height: 12px;
                    margin-right: 5px;
                    span {
                        width: 18px;
                    }
                }
            }
        }
    }
}
.slicknav_menu {
    .slicknav_btn {
        background-color: transparent;
        padding: 0;
    }
    .slicknav_nav {
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            position: relative;
            list-style: none;
            transition: all 0.4s;
            a {
                display: inline-block;
                color: $light-color;
                font-size: 12px;
                font-weight: 600;
                padding: 10px 15px;
                @include transition (all 0.3s);
                text-transform: uppercase;
                &:hover,
                &:focus,
                &:active {
                    background-color: transparent;
                    color: $hover-color;
                    @include border-radius(0px);
                }
            }
            >ul {
                padding-left: 20px;
            }
        }
        .current-menu-item {
            a {
                color: $primary-color;
                font-weight: 600;
            }
        }
        .slicknav_open {
            transition: all 0.4s;
            .slicknav_row {
                background-color: $hover-color;
                a {
                    color: $light-color;
                }
                .slicknav_item {
                    .slicknav_arrow {
                        color: $light-color;
                    }
                }
            }
        }
    }
}
.slicknav_nav {
    background-color: $secondary-color;
    @include box-shadow (0px 22px 21px rgba(0, 0, 0, 0.1));
}
.slicknav_arrow {
    position: absolute;
    right: 5px;
    height: 100%;
    top: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 10px;
}
.slicknav_btn {
    position: relative;
    display: block;
    float: right;
    padding: 0;
    line-height: 1.1;
    cursor: pointer;
    @include transition(background-color 0.4s);
    .slicknav_icon {
        width: 22px;
        height: 16px;
        display: block;
        position: relative;
        margin-top: 1px;
        &:before {
            display: none;
        }
        span {
            background-color: #FFF;
            box-shadow: none;
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 2px;
            margin: 0;
            @include translate(-50%, -50%);
            &:first-child {
                display: block;
                &:before,
                &:after {
                    background-color: #FFF;
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-transition-property: top, transform;
                    -moz-transition-property: top, transform;
                    -ms-transition-property: top, transform;
                    -o-transition-property: top, transform;
                    transition-property: top, transform;
                    -webkit-transition-delay: 0.5s, 0s;
                    -moz-transition-delay: 0.5s, 0s;
                    -ms-transition-delay: 0.5s, 0s;
                    -o-transition-delay: 0.5s, 0s;
                    transition-delay: 0.5s, 0s;
                    -webkit-transition-duration: 0.5s, 0.5s;
                    -moz-transition-duration: 0.5s, 0.5s;
                    -ms-transition-duration: 0.5s, 0.5s;
                    -o-transition-duration: 0.5s, 0.5s;
                    transition-duration: 0.5s, 0.5s;
                }
                &:before {
                    top: -6px;
                }
                &:after {
                    top: 6px;
                }
            }
        }
    }
    &.slicknav_open {
        span {
            &:first-child {
                background-color: transparent !important;
                &:before,
                &:after {
                    -webkit-transition-delay: 0s, 0.5s;
                    -moz-transition-delay: 0s, 0.5s;
                    -ms-transition-delay: 0s, 0.5s;
                    -o-transition-delay: 0s, 0.5s;
                    transition-delay: 0s, 0.5s;
                }
                &:before {
                    top: 0;
                    @include rotate(45);
                }
                &:after {
                    top: 0;
                    @include rotate(-45);
                }
            }
        }
    }
}